<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscriptions Page</title>
    <link rel="stylesheet" href="SubscriptionStyles.css">
</head>
<body>
    <div class="container">
     <div class="header--wrapper">
        <h1>Subscriptions</h1>
     </div>
        <table id="subscriptions-table">
            <thead>
                <tr>
                    <th>Subscription ID</th>
                    <th>User ID</th>
                    <th>Plan ID</th>
                    <th>Day Issued</th>
                    <th>Day Expiring</th>
                </tr>
            </thead>
            <tbody id="subscriptions-body">
                
            </tbody>
        </table>
    </div>
    <script src="SubscriptionsScript.js"></script>
</body>
</html>
